<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrZhMMWSxwv4fCEZX3F1jFlFyZZFctDFE</string>
	<key>GCM_SENDER_ID</key>
	<string>31558183460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.googly11.fantasy</string>
	<key>PROJECT_ID</key>
	<string>googly11new</string>
	<key>STORAGE_BUCKET</key>
	<string>googly11new.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31558183460:ios:945d95afff90efd2f3c6b1</string>
</dict>
</plist>